<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube-buscar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


</head>
<body style="background: #a70000;  /* fallback for old browsers */background: -webkit-linear-gradient(to right, #FFFDE4, #a72100);  /* Chrome 10-25, Safari 5.1-6 */background: linear-gradient(to right, #FFFDE4, #a70000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
    <div class="container my-4 col">
        <nav class="nav-tabs    ">
            <H1>Descarga tus videos de YouTube   <img src="https://lh3.googleusercontent.com/KhY28aTw30hEJXooMF-_rQqwMIIqofFvasbZJtEpvlgHQwLXKP3KW0OoCTtoYpDNn_U=w128" alt=""></H1>          
       </nav>

        <form class="form-control" action="/info-video" method="GET">
            <div>
                <label class="mt-3 mb-3" for="label"><b>Ingresa la URL del video</b></label>
                <div  class="input-group mb-3">                
                <input class="form-control" type="text" name="url" placeholder="ejemplo: https://www.youtube.com/watch?v=" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>    
            <button class="btn btn-danger mt-3 mb-3" type="submit" style="border-radius: 40px;" >
               <b> Buscar</b>
            </button>
        </form>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">  
</body>
</html>